## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [2]:
7**4

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [3]:
s="Hi there Sam!"
x=s.split()
print(x)

['Hi', 'there', 'Sam!']

In [4]:
s="Hi there dad!"
x=s.split()
print(x)

['Hi', 'there', 'dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [5]:
planet="Earth"
diameter=12742

In [6]:
print('The diameter of {} is {} kilometers.' .format(planet,diameter))

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [8]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [9]:
n=lst[3][1][2]
print(n)

['hello']

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [10]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [11]:


print(d['k1'][3]["tricky"][3]['target'][3])

hello

** What is the main difference between a tuple and a list? **

In [12]:
print("Tuple is immutable whereas list is mutable")

Tuple is immutable whereas list is mutable

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [13]:
def UserDomain(email):
  return email.split('@')[-1]

In [14]:
print(UserDomain("user@domain.com"))

domain.com

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [15]:
def Dog(word):
  if 'dog' in word.lower():
    print("True")
  else:
    print("False")

word=input()
Dog(word)

This is my dog
True

In [16]:
Dog("Is there a dog here")

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [17]:
def count(str):
  count = 0
  for word in str.lower().split():
    if word == 'dog':
      count += 1
  return count

In [18]:
count('This dog runs faster than the other dog dude!')

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [19]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [20]:
caught_speeding(85,False)

'Big Ticket'

In [21]:
caught_speeding(87,True)

'Big Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [22]:
employees = ["Ram","Sri","Sid","Raj","Vijay"]
salary={}
for emp in employees:
  try:
    amount=int(input(f'Enter salary for {emp}: '))
    salary[emp]=amount
  except ValueError:
    print(f'Wrong salary input for {emp} ')
print(salary)
print('Total Salary Expenditure : ',sum(salary.values()))

Enter salary for Ram: 20000
Enter salary for Sri: 12000
Enter salary for Sid: 30000
Enter salary for Raj: 18000
Enter salary for Vijay: 25000
{'Ram': 20000, 'Sri': 12000, 'Sid': 30000, 'Raj': 18000, 'Vijay': 25000}
Total Salary Expenditure :  105000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [23]:
d_1={'Empid':700,'Empname':'Sriram','Basicpay':75000}
d_2={'DeptName': 'Sales','DeptID':'S0011'}
d_1.update(d_2)
print("Combined Dictionary is:")
print(d_1)

Combined Dictionary is:
{'Empid': 700, 'Empname': 'Sriram', 'Basicpay': 75000, 'DeptName': 'Sales', 'DeptID': 'S0011'}